/*通用样式*/
a{
    color: #484848;
}
a:hover {
    color: #69ffd3;
    text-decoration: none;
}
*:focus { outline: none; }
#tooltip {
    width: 200px;
    border: solid 2px #948fce;
    border-radius: 5px;
    position: absolute;
    background-color: #9cfffc;
    font: 15px italic;
    color: #020202;
    text-align: center;
}
/*头部样式开始*/
/*@media screen and (min-width: 600px){ 响应式布局*/
#header {
    height: 105px;
    background: #FFFFFF;
}
#header .contWidth {
    height: 105px;
    width: 990px;
    border: 1px solid #CCCCCC;
    position: relative;
    margin: 0 auto;
    z-index: 100;
    overflow: hidden;
}
#header .logo {
    float: left;
    margin: 0 0 0 10px;
    color: #FFF;
    line-height: 80px;
}
#header .search {
    position: absolute;
    left: 198px;
    top: 20px;
}
#inputSearch {
    padding: 3px 6px 5px 6px;
    height: 17px;
    width: 200px;
    font-size: 14px;
    color: #948fce;
    border: 2px solid;
    border-radius: 5px;
}
#inputSearch .focus {
    outline: 1px solid #fff;
}
.dragon {
    height: 100px;
    width: 150px;
    position: absolute;
    right: 140px;
    top: -17px;
}
.person {
    position: absolute;
    top: 40px;
    right: 50px;
}
#login1 {
    width: 30px;
    height: 20px;
}
#login2 {
    width: 30px;
    height: 20px;
}
/*皮肤样式*/
#skin {
    float: right;
    margin: 10px;
    padding: 4px;
    width: 120px;
}
#skin li {
    float: left;
    margin-right: 4px;
    width: 15px;
    height: 15px;
    text-indent: -9999px;
    overflow: hidden;
    display: block;
    cursor: pointer;
    background-image: url("../images/color.gif");
}
#skin_0 { background-position: 0px 0px; }
#skin_1 { background-position: 15px 0px; }
#skin_2 { background-position: 35px 0px; }
#skin_3 { background-position: 55px 0px; }
#skin_4 { background-position: 75px 0px; }
#skin_5 { background-position: 95px 0px; }
#skin_0.selected { background-position: 0px 15px;}
#skin_1.selected { background-position: 15px 15px;}
#skin_2.selected { background-position: 35px 15px;}
#skin_3.selected { background-position: 55px 15px;}
#skin_4.selected { background-position: 75px 15px;}
#skin_5.selected { background-position: 95px 15px;}
/*导航样式*/
#nav {
    position: absolute;
    top:68px;
    left:-1px;
    width: 990px;
    height:40px;
    line-height:40px;
    z-index: 100;
    -webkit-box-shadow: 3px 3px 3px;
    -moz-box-shadow: 3px 3px 3px;
    -o-box-shadow: 3px 3px 3px;
    box-shadow: 0px 0px 3px;
    border: 1px dotted #ecf2ff;
}
#nav ul li {
    float: left;
    display: inline;
    padding: 0 0 0 52px;
    z-index: 100;
}
#nav ul li a {
    display: block;
    padding: 0 8px;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}
#nav ul li a:hover {
    color: #303030;
    text-decoration: none;
    -moz-transform: scale(1.2,1.2);
    -webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}
/*导航样式结束*/
/*头部样式结束*/

/*主体样式*/
div.content {
    width: 990px;
    height: 400px;
    margin: 20px auto;
    position: relative;
}
#playImg {
    width: 350px;
    height: 340px;
    position: absolute;
    left: 0;
    float: left;
}
#playImg img {
    width: 240px;
    height: 344px;
}
#playImg img:hover {
    opacity: 0.7;
}
div#playInfo {
    width: 740px;
    height: 440px;
    float: right;
}
div#playInfo h2 {
    line-height: 40px;
    font-size: 30px;
    text-indent: 55px;
    font-style: italic;
}
div#playInfo li {
    line-height: 30px;
    font-size: 20px;
}
div#playInfo li a:hover {
    color: #69ffd3;
    text-decoration: none;
}
p#intro {
    width: 701px;
    height: 150px;
    text-indent: 42px;
}
#detail {
    float: right;
    color: #ff1b34;
    position: absolute;
    right: 10px;
}
.playButton {
    position: absolute;
    left: 274px;
    bottom: -20px;
}
div.playButton img {
    border: 2px solid #ccc;
    box-shadow: 0 0 15px;
}
div.moreNumber {
    position: absolute;
    top: 416px;
    left: 10px;
}
div.moreNumber #number {
    color: red;
}
div.episodes {
    float: left;
    width: 990px;
    border-top: 2px dashed #69ffd3;
}
div.episodes li {
    float: left;
    line-height: 30px;
    width: 50px;
    height: 20px;
    padding: 0 10px 20px 10px;
}
div.episodes li a {
    font-size: 15px;
}
div.episodes li a:hover {
    color: #69ffd3;
    text-decoration: none;
}
/*主体样式结束*/

/*底部样式开始*/
#footer {
    padding: 10px 0 0 0;
    line-height: 2;
    overflow: hidden;
    width: 990px;
    text-align: center;
    color: #666666;
    margin: 0 auto;
    background-color: #ccc;
}
#footer a:hover {
    text-decoration: none;
}
/*底部样式结束*/

/*登录界面*/
.code,.login {
    position: fixed;
    right: 650px;
    top: 154px;
    width: 430px;
    height: 200px;
    z-index: 999;
    background-color: white;
    border: 2px solid #ccc;
    box-shadow: 0 0 30px #ccc;
}
.close {
    position: absolute;
    top: 0;
    right: 0;
}
form div { margin:20px 0;}
.int label {
    float:left;
    width:100px;
    text-align:right;
    font-size: 15px;
}
.int input {
    padding:1px 1px;
    border:1px solid #ccc;
    height:16px;
}
.sub { padding-left:100px;}
.sub input { margin-right:10px; }
.formtips{
    width: 200px;
    margin:2px;
    padding:2px;
}
.onError{
    background:#FFE0E9 url(../images/code/reg3.gif) no-repeat 0 center;
    padding-left:25px;
}
.onSuccess{
    background: #E9FBEB url(../images/code/reg4.gif) no-repeat 0 center;
    padding-left: 25px;
}
.high{
    color: red;
}
#logout {
    color: red;
}